services:
  halawi-ai:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    ports:
      - '3000:3000'
    environment:
      - NO_HTTPS=1
      - TAVILY_API_KEY=${TAVILY_API_KEY:-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}
    env_file:
      - .env
    dns:
      - 8.8.8.8 # Google's public DNS server
      - 8.8.4.4 # Google's public DNS server
    networks:
      - halawi-ai-networks
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:17
    env_file:
      - .env
    ports:
      - '5433:5432'
    networks:
      - halawi-ai-networks
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  halawi-ai-networks:
    driver: bridge
